.uh-logo {
	height: 3em;
	position: relative;
	top: 5px;
	left: 0px;
	float: left;
	padding: 2px 8px;    
}

.row {
	margin: auto;
	width: 100%;
}

div .container {
	padding-right: 0;
	padding-left: 0;
}

.help-container {
     border: 1px #9e9e9e solid;
     background-color: #d3d3d342;
     border-radius: 10px;
     padding: 10px;
     margin: 10px;
}

.help-content>ul {
     padding-inline-start: 20px;
}

.nolink {
	text-decoration: none !important;
}

/* ==========================================================================
   Author's custom styles

ICONS
http://www.iconninja.com/tag/directions-icon
http://www.iconarchive.com/search?q=directions
LATLON
http://www.mapcoordinates.net/en

UH New Orange: #F17920;

   ========================================================================== */

@media (max-width: 768px) {
	.navbar {
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	}
}

/* Search Button */
.searchButton {
  position: absolute;
  top: 0px;
  right: 15px;
}
@media (max-width: 767px) {
  .searchButton {
	right: 110px;
  }
}

/* Filter Button */
.filterButton {
	position: absolute;
	top: 0px;
	right: 65px;
}
@media (max-width: 767px) {
	.filterButton {
		right: 75px;
  }
}

/*.navbar .login-btn {
  position: absolute;
  top: 0px;
  right: 15px;
}
@media (max-width: 767px) {
  .navbar .login-btn {
	right: 75px;
  }
}*/

.pull-right {
	text-align: right !important;
}

.pull-left {
	text-align: left !important;
}

button.searchButton, button.filterButton {
	/* padding: 9px 10px; */
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 8px;
	background-color: transparent;
	/* background-image: none; */
	border: 1px solid transparent;
	border-radius: 4px;
	height: 34px;
	width: 34px;
	color: white;
	/* border: 1px solid white; */
	font-size: 120%;
} 

/* Flag Icon */
button.toggleLang img {
   /* height: 24px;*/
}

/* Flag Button */
button.toggleLang, button.filterButtonMenu {
	padding: 0 5px;
	height: 34px;
	width: 42px;
}

button.openForm {
     background-color: #ff7200;
     color: #fff;
     border-color: transparent;
}

/* SEARCHBAR */

.searchbar {
     display: flex;
	height: 60px;
	padding: 15px 15px 5px 15px;
}

input.searchfield {
     flex-grow: 2;
     display: inline-flex;
     /* width: 85%; */
     padding: 6px;
}

button.search-reset {
     flex-grow: 1;
     display: inline-flex;
     /* width: 9%; */
     height: 34px;
     padding: 6px 12px;
     margin: 0 5px;
     font-size: 14px;
     line-height: 1.42857143;
     /*     background-color: #555; */
     color: #555;
     background-image: none;
     border: 1px solid #ccc;
     border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



/* FILTERBAR */

.filterbar {
	display: none;      /* Hidden intially */
	height: 60px;
	padding: 5px 15px 5px 15px;
}

.filter-icon {
	margin-right: 5px;
	margin-left: 5px;
}

.filter-text-label {
     font-size: smaller;
}

/* TOGGLES */

.filter-toggle.btn-default:active,
.filter-toggle.btn-default.active {
	/*color: #333;*/
	/*background-color: #F17920;*/
	/*border-color: #adadad;*/
/*    border: 1px solid #3c763d;
	background-color: rgba(60, 118, 61, 0.2);
	color: #3c763d;
	font-weight: bold;*/
}

.btn.filter-toggle {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

button.filter-toggle.btn-custom {
	background-color: white;
	border: #cccccc 1px solid !important;
	outline-color: transparent !important; 
	outline-style: none !important; 
	-webkit-box-shadow: none !important;
	box-shadow: inset none !important;    
}

/* Remove blue glow */
button.filter-toggle.btn-custom:active, 
button.filter-toggle.btn-custom:focus, 
button.filter-toggle.btn-custom:hover {
	background-color: white;
	border: #cccccc 1px solid !important;
	outline-color: transparent !important; 
	outline-style: none !important;
}

button.filter-toggle.btn-custom.active {
	background-color: #8BC34A;
}


.minitron {
	padding: 5px 15px;
	margin-bottom: 10px 0;
	color: inherit;
	background-color: #eee
}

.compass-icon {
	position: relative;
	top: 0;
	left: 0;
	height: 18px;
}

.place-wrapper {
	/*border: 1px solid rgba(96, 125, 139, 0.5);*/
	/* font-size: 0.9em; */
	/* padding-top: 10px; */
	margin-bottom: 10px;
	border-radius: 5px;
	margin: 4px;
	/* padding-bottom: 10px; */
}

.place-line {
	/* border-bottom: 0.5px solid #eee; */
	cursor: help;
	font-size: 0.9em;
	border-radius: 4px;
	/* margin-bottom: 10px; */
	/* margin: 6px; */
	/* position: relative; */
	/* min-height: 1px; */
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;    
	padding-bottom: 15px;
}

.place-icon {
	/* The pointer-events: none; prevents the this DIV from blocking the event handler for the accordian */
	/*pointer-events: none;*/
	position: relative;
	top: -3px;
	left: -3px;
	right: -3px;
	padding-right: 5px;
	padding-left: 5px;
	height: 24px;
}

.place-name {
	/* The pointer-events: none; prevents the this DIV from blocking the event handler for the accordian */
	/*pointer-events: none;    */
	font-size: 1.3em;
}

.place-subtitle {
	display: none;
}

.place-detail {
	padding: 10px;
}

.place-detail.right-col {
	text-align: right;
	/*float: right;*/
}

button.filter-toggle.btn-custom.park.active,
div.place-line.park {
	background-color: hsla(120, 100%, 25%, 0.2);
}

button.filter-toggle.btn-custom.beach_official.active,
div.place-line.beach_official {
	background-color: #03A9F4;
}

button.filter-toggle.btn-custom.beach_unofficial.active,
div.place-line.beach_unofficial {
	background-color: #abcdef;
}

button.filter-toggle.btn-custom.restaurant.active,
div.place-line.restaurant {
	background-color: hsla(36, 100%, 50%, 0.21);
}

button.filter-toggle.btn-custom.landmark.active,
div.place-line.landmark {
	background-color: hsl(0, 0%, 82%);
}

button.filter-toggle.btn-custom.beach_unofficial_port.active,
div.place-line.beach_unofficial_port {
	background-color: #7800005e;
}

button.filter-toggle.btn-custom.beach_unofficial_dogs.active,
div.place-line.beach_unofficial_dogs {
	background-color: #e3f2fd;
}

.route-icon {
	height: 24px;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 10px;	
}

.pointer {
	cursor: pointer;
}

/* PLACE LINE - SELECTED */

.selected.place-wrapper {
	border: medium #F17920 solid !important;
	border-top: initial !important;
}
.selected .place-line {
	background-color: #F17920 !important;
	font-weight: bold !important;
}


/* Columns in Info Panel for each Place */

.info_panel {
	width: 100%;
}

span.info-item {
	display: block;
}

span.info-item.facilities {
	display: inline-block;
	text-align: center;
	width: 50px;
	border-radius: 5px;
	margin: 2px;
	padding: 0 4px;
	vertical-align: middle;
	height: 32px;
	line-height: 26px;
}

span.info-item.success {
	border: 2px solid #3c763d;
	background-color: rgba(60, 118, 61, 0.2);
	color: #3c763d;
}
span.info-item.danger {
	border: 2px solid #a94442;
	background-color: rgba(169, 68, 66, 0.2);
	color: #a94442;
	opacity: 0.3;
}



.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;    
}

.top-info-row {
	/*background-color: orange;*/
}

.bottom-info-row {
	/*background-color: pink;*/
	background-color: rgba(211, 211, 211, 0.2);
}

span.info-feedback {
	display: block;
	font-size: 0.8em;
}

/* Share UI */
.place-share-button.api {
     margin: 5px 5px;
     padding: 10px;
     width: 100%;
     background-color: skyblue;
     border: 1px;
     border-radius: 5px;
     text-align: center;
     text-decoration: none;
}
.place-share-button.wap {
     display: none;
     margin: 5px 5px;
     padding: 10px;
     width: 100%;
     background-color: #dcf8c6;
     border: 1px;
     border-radius: 5px;
     text-align: center;
     text-decoration: none;
}
.place-share-button.sms {
     display: none;
     margin: 5px 5px;
     padding: 10px;
     width: 100%;
     background-color: #3740ff4d;
     border: 1px;
     border-radius: 5px;
     text-align: center;
     text-decoration: none;
}

.place-share-button:hover {
     opacity: 0.7;
}

.onclickmap{
     text-decoration: underline;
     text-decoration-style: dotted;
     cursor: pointer;
     background-color: rgb(211 211 211 / 50%);
}

#toast-container>div {
     opacity: 1;
}



/* tlv.works logo */
.tlv-logo {
     color: black;
}

a.tlv-link:visited,
a.tlv-link:link {
     text-decoration: none;
}

a.tlv-link:hover,
a.tlv-link:active {
     text-decoration: none;
     color: blue;
     /* background-color: black; */
}


.tlv {
     font-weight: 900;
}

.tlv-dot {
     /* font-weight: 900; */
     color:blue;
}

.tlv-heart {
     /* font-size: 0.8em; */
     color: red;
}

.tlv-strapline {
     /* font-size: x-small; */
     text-transform: initial;
     /* background-color: rgb(240 240 240 / 80%); */
     text-align: center;
     /* display: inline; */
     margin: 10px 0;
     padding: 10px 1%;
     border-radius: 5px;
}




